.contenu-mes-costumes {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  gap:15px;
  margin:15px;
}

img{
  width:100%;
  transition: 0.3s ease;
  aspect-ratio: 1;
  object-fit: cover;
}

.contenu-mes-costumes img:hover{
  scale:1.1;
  rotate: 10deg;
  transition:0.3s ease;
}

.commentaire {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:30px;
  text-align: center;
  padding:30px;
  background-color: #8C1822;
  line-height: 1.5;
}

.commentaire li{
  text-align:left;
}

@media screen and (max-width:996px){
  .contenu-mes-costumes {
    grid-template-columns: 1fr;
    gap:15px;
  }
}
